In [1]:
import os
import json
import pandas as pd
from datetime import datetime
import pandasql as ps

In [2]:
pd.set_option('display.float_format', lambda x: '%.0f' % x)

In [3]:
pd.set_option('display.max_rows', 20) # or 1000

In [4]:
CURRENT_WORKING_DIRECTORY = os.getcwd()
INPUTS = CURRENT_WORKING_DIRECTORY + "\\inputs"
SEPARATOR=";"
PLAYERS = "Players.csv"
SELFBANS = "Selfbans.csv"
TRANSACTIONS = "Transactions.csv"

In [5]:
CONFIG_FILE = "config.json"
with open(CURRENT_WORKING_DIRECTORY + "\\" + CONFIG_FILE, encoding='utf-8') as f:
    CONFIG = json.load(f)

In [6]:
PLAYERS_DATES = CONFIG["PLAYERS"]["DATES"]
PLAYERS_SEPARATOR = CONFIG["PLAYERS"]["SEPARATOR"]
PLAYERS_DTYPE = CONFIG["PLAYERS"]["DTYPE"]

In [7]:
SELFBANS_DATES = CONFIG["SELFBANS"]["DATES"]
SELFBANS_SEPARATOR = CONFIG["SELFBANS"]["SEPARATOR"]
SELFBANS_DTYPE = CONFIG["SELFBANS"]["DTYPE"]

In [8]:
TRANSACTIONS_DATES = CONFIG["TRANSACTIONS"]["DATES"]
TRANSACTIONS_SEPARATOR = CONFIG["TRANSACTIONS"]["SEPARATOR"]
TRANSACTIONS_DTYPE = CONFIG["TRANSACTIONS"]["DTYPE"]

In [9]:
def myparser(x):
    """
    """
#     try:
#         datetime.utcfromtimestamp(int(x))
#     except:
#         return pd.NaT
    return dt.datetime.strptime(x, '%Y-%m-%d %H:%M:%S')
#    return datetime.utcfromtimestamp(int(x))

## PLAYERS

In [10]:
players = pd.read_csv(
    INPUTS + "\\" + PLAYERS,
    delimiter=PLAYERS_SEPARATOR,
#     parse_dates=True,
    infer_datetime_format=True,
    parse_dates=PLAYERS_DATES,
    dtype=PLAYERS_DTYPE,
#     date_parser=myparser
)

In [11]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   AccountId          1000 non-null   object
 1   PlayerNr           1000 non-null   object
 2   Country            1000 non-null   object
 3   DateOfBirth        1000 non-null   datetime64[ns]
 4   Source             1000 non-null   object
 5   Selfban_start      24 non-null     datetime64[ns]
 6   Selfban_end        24 non-null     datetime64[ns]
 7   First_genre        1000 non-null   object
 8   Registration_date  1000 non-null   datetime64[ns]
 9   Currency           759 non-null    object
dtypes: datetime64[ns](4), object(6)
memory usage: 78.2+ KB

In [185]:
players.sample(3)

,AccountId,PlayerNr,Country,DateOfBirth,Source,Selfban_start,Selfban_end,First_genre,Registration_date,Currency
970,n5fotjquhz,2420178452,EE,1965-10-27,facebook,NaT,NaT,Games,2010-10-06,EUR
640,ptxthf9vjf,6737484067,ES,1959-08-18,newspaper,NaT,NaT,Sportsbook,2021-02-05,EUR
922,lvrfb6hogc,7246186821,AT,1967-03-07,newspaper,NaT,NaT,Bingo,2010-05-04,EUR

In [186]:
# players["AccountId"].unique()

In [14]:
players["AccountId"].nunique()

1000

In [187]:
# players["PlayerNr"].unique()

In [16]:
players["PlayerNr"].nunique()

1000

In [17]:
players["Source"].unique()

array(['newspaper', 'tv', 'facebook', 'web', 'direct'], dtype=object)

In [18]:
players["Source"].nunique()

5

In [19]:
players["First_genre"].unique()

array(['Games', 'Scratchard', 'Sportsbook', 'Bingo', 'Lottery'],
      dtype=object)

In [20]:
players["First_genre"].nunique()

5

In [21]:
players["Currency"].unique()

array([nan, 'SEK', 'EUR', 'NZD'], dtype=object)

In [22]:
players["Currency"].nunique()

3

## SELFBANS

In [23]:
selfbans = pd.read_csv(
    INPUTS + "\\" + SELFBANS,
    delimiter=SELFBANS_SEPARATOR,
#     parse_dates=True,
    infer_datetime_format=True,
#     dtype=SELFBANS_DTYPE,
    parse_dates=SELFBANS_DATES,
#     date_parser=myparser
)

In [24]:
selfbans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   AccountId      95 non-null     object
 1   Selfban_start  95 non-null     datetime64[ns]
 2   Selfban_end    95 non-null     datetime64[ns]
dtypes: datetime64[ns](2), object(1)
memory usage: 2.4+ KB

In [25]:
selfbans.head()

    AccountId Selfban_start Selfban_end
0  eq0mordsce    2014-10-01  2020-07-12
1  g6e5wzy89r    2021-08-03  2021-09-02
2  fkl9appqov    2021-07-26  2021-08-28
3  z13kx2qaaa    2019-09-14  2021-02-01
4  aqnzj0cak4    2013-09-22  2016-12-02

In [26]:
# selfbans["AccountId"].unique()

In [27]:
selfbans["AccountId"].nunique()

81

In [28]:
# selfbans["Selfban_start"].unique()

In [29]:
selfbans["Selfban_start"].nunique()

90

In [30]:
# selfbans["Selfban_end"].unique()

In [31]:
selfbans["Selfban_end"].nunique()

89

## TRANSACTIONS

In [32]:
transactions = pd.read_csv(
    INPUTS + "\\" + TRANSACTIONS,
    delimiter=TRANSACTIONS_SEPARATOR,
#     parse_dates=True,
    infer_datetime_format=True,
#     dtype=TRANSACTIONS_DTYPE,
    parse_dates=TRANSACTIONS_DATES,
#     date_parser=myparser
)

In [33]:
transactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49250 entries, 0 to 49249
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PlayerNr        49250 non-null  int64
 1   Trx_Type        49250 non-null  object
 2   Trx_time        49250 non-null  datetime64[ns]
 3   Balance_before  49250 non-null  float64
 4   Balance_after   49250 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 1.9+ MB

In [34]:
transactions.head(3)

     PlayerNr    Trx_Type            Trx_time  Balance_before  Balance_after
0  3887581556       bonus 2017-07-24 01:24:24               0            796
1  3887581556       stake 2017-09-07 17:11:17             796            548
2  3887581556  withdrawal 2017-09-21 01:57:25             548            367

In [35]:
# transactions["PlayerNr"].unique()

In [36]:
transactions["PlayerNr"].nunique()

994

In [37]:
transactions["Trx_Type"].unique()

array(['bonus', 'stake', 'withdrawal', 'win', 'deposit'], dtype=object)

In [38]:
transactions["Trx_Type"].nunique()

5

In [39]:
transactions["Trx_time"].unique()

array(['2017-07-24T01:24:24.000000000', '2017-09-07T17:11:17.000000000',
       '2017-09-21T01:57:25.000000000', ...,
       '2021-11-02T21:37:09.000000000', '2021-12-07T21:12:39.000000000',
       '2022-01-26T14:38:41.000000000'], dtype='datetime64[ns]')

In [40]:
transactions["Trx_time"].nunique()

49242

In [41]:
transactions.describe()

        PlayerNr  Balance_before  Balance_after
count      49250           49250          49250
mean  5570556952             653            667
std   2593070421             557            556
min   1003452062              -3             -3
25%   3405417598             196            215
50%   5569413188             540            555
75%   7847705450             970            980
max   9999018879            4970           4970

## Questions:

### 1. What was the average deposit in Spain in 2021?

In [42]:
q1 = """
WITH

    v_players AS (
        SELECT DISTINCT
            PlayerNr

        FROM players
        WHERE Country ="ES"
        ),

    v_balance AS (
        SELECT 
            PlayerNr,
            (COALESCE(Balance_after, 0) - COALESCE(Balance_before, 0)) as balance

        FROM transactions
        WHERE Trx_Type='deposit'
        AND strftime('%Y', Trx_time) = '2021'
        )
   
SELECT
    AVG(balance) AS balance_average

FROM v_players as vp
LEFT JOIN v_balance as vb 

ON
vp.PlayerNr = vb.PlayerNr
"""

In [43]:
ps.sqldf(q1, locals())

   balance_average
0              481

### 2. Show Top 10 depositor and their deposits.

In [44]:
q2 = """
WITH
    v_deposite_balance AS (
        SELECT 
            PlayerNr,
            (COALESCE(Balance_after, 0) - COALESCE(Balance_before, 0)) as deposit

        FROM transactions
        WHERE Trx_Type='deposit'
        )
        
SELECT
    SUM(deposit) as deposit_sum
FROM v_deposite_balance as vdb
GROUP BY PlayerNr
ORDER BY deposit_sum DESC
LIMIT 10
"""

In [45]:
ps.sqldf(q2, locals())

   deposit_sum
0         3890
1         2926
2         2805
3         2727
4         2634
5         2588
6         2574
7         2561
8         2560
9         2555

### 3. How many active players there are?

Active player – players who made deposit or stake transaction in last 3 month are consider
active

In [46]:
transactions['Trx_time'].describe()

C:\Users\KonuTech\AppData\Local\Temp/ipykernel_45944/2378162820.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  transactions['Trx_time'].describe()

count                   49250
unique                  49242
top       2021-09-19 16:25:51
freq                        2
first     2010-02-06 02:12:03
last      2022-02-01 00:30:53
Name: Trx_time, dtype: object

In [47]:
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta

In [48]:
reporting_date = datetime(2022, 2, 1).isoformat()

### reporting date

In [49]:
reporting_date

'2022-02-01T00:00:00'

In [50]:
reporting_end_date = datetime(2022, 2, 1) - timedelta(days=1)

### reporting date - 1 day

In [51]:
reporting_end_date.isoformat()

'2022-01-31T00:00:00'

### reporing day - 3 months

In [52]:
n = 3

In [53]:
reporting_start_date = datetime(2022, 2, 1) - relativedelta(months=n)

In [54]:
reporting_start_date.isoformat()

'2021-11-01T00:00:00'

In [55]:
q3 = """
WITH
    v_players AS (
        SELECT DISTINCT
            PlayerNr

        FROM players
        ),
    
    v_active_players AS (
        SELECT DISTINCT
            PlayerNr

        FROM transactions
        WHERE Trx_Type IN (
            'deposit',
            'stake'
            )
        AND Trx_time BETWEEN "{0}" AND "{1}"
        )
        
SELECT
    COUNT(vp.PlayerNr) active_players_count
FROM
v_players as vp
INNER JOIN v_active_players as vap
ON vp.PlayerNr = vap.PlayerNr
""".format(reporting_start_date, reporting_end_date)

In [56]:
ps.sqldf(q3, locals())

   active_players_count
0                   660

### 4. How many players currently have self-ban active?

In [131]:
players[["Selfban_start", "Selfban_end"]].describe()

C:\Users\KonuTech\AppData\Local\Temp/ipykernel_45944/1809323748.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  players[["Selfban_start", "Selfban_end"]].describe()
C:\Users\KonuTech\AppData\Local\Temp/ipykernel_45944/1809323748.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  players[["Selfban_start", "Selfban_end"]].describe()

              Selfban_start          Selfban_end
count                    24                   24
unique                   24                   24
top     2018-05-20 00:00:00  2029-12-05 00:00:00
freq                      1                    1
first   2017-02-04 00:00:00  2023-04-04 00:00:00
last    2021-11-25 00:00:00  2031-10-17 00:00:00

In [132]:
selfbans[["Selfban_start", "Selfban_end"]].describe()

C:\Users\KonuTech\AppData\Local\Temp/ipykernel_45944/3255270236.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  selfbans[["Selfban_start", "Selfban_end"]].describe()
C:\Users\KonuTech\AppData\Local\Temp/ipykernel_45944/3255270236.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  selfbans[["Selfban_start", "Selfban_end"]].describe()

              Selfban_start          Selfban_end
count                    95                   95
unique                   90                   89
top     2019-04-07 00:00:00  2019-07-06 00:00:00
freq                      3                    2
first   2011-04-19 00:00:00  2011-11-01 00:00:00
last    2021-12-17 00:00:00  2022-01-24 00:00:00

### Seems like Selfbans.csv contains history of selfbans. Which is not useful here. Hence, using only Players.csv

In [142]:
players_selfbans = """
WITH
    v_players AS (
        SELECT DISTINCT
            PlayerNr,
            AccountId,
            Selfban_start,
            Selfban_end

        FROM players
        WHERE Selfban_end >= "{0}"
        --AND AccountId="z13kx2qaaa"
        )
        
SELECT
    COUNT(*) players_selfbans_count
FROM v_players as vp
""".format(reporting_date)

In [143]:
ps.sqldf(players_selfbans, locals())

   players_selfbans_count
0                      24

### 5. How many self-bans were activated in 2021?

In [181]:
selfbans_2021 = """
WITH
    v_players AS (
        SELECT
            AccountId,
            Selfban_start,
            Selfban_end

        FROM selfbans
        WHERE strftime('%Y', Selfban_start) = '2021'
        )
        
SELECT
    COUNT(*) as selfbans_count_2021
FROM v_players as vp
"""

In [182]:
ps.sqldf(selfbans_2021, locals())

   selfbans_count_2021
0                   21

### 6. How many players had active self-ban on 1st of May 2021?

In [183]:
active_selfbans_20210501 = """
WITH
    v_players AS (
        SELECT
            AccountId,
            Selfban_start,
            Selfban_end

        FROM selfbans
        WHERE strftime('%Y%m%d', Selfban_start) <= '20210501'
        AND strftime('%Y%m%d', Selfban_end) >= '20210501'
        )
        
SELECT
    COUNT(*) selbans_active_20210501_count
FROM v_players as vp
"""

In [184]:
ps.sqldf(active_selfbans_20210501, locals())

   selbans_active_20210501_count
0                             20